html{
    background-color: violet;
}

.titulo{
    color: turquoise;
    text-align: center;
}

img{
    display: block;
    margin: auto;
}

#descricao{
    text-align: center;
    color: yellow;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-style: italic;
}

p{
    text-align: center;
}